.box {
  width: 100px; height: 100px; background-color: red;
  animation-name: moveRight;
  animation-duration: 1s;
  animation-timing-function: linear;
  
  
}

@keyframes moveRight{
  from{
transform: translateX(0px)
  }
  to{
    transform: translateX(200px)
  }
}