
 

#ball {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  animation-name: moveBox;

  animation-duration: 4s;
}

@keyframes moveBox {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(200px);
  }
}