.box {
  width: 100px; height: 100px; background-color: red;
  animation-name: moveUpDown;
  animation-duration: 2s;
  
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes moveUpDown{
  0%{
transform: translateY(0px)
  }
  50%{
    transform: translateY(100px)
  }
  100%{
    transform: translateY(0px)
  }
}