h1 {
    font-size: 2em;
    
    transform: translate(103px, 20px);
    
}

.red-box,
.blue-box {
  position: absolute;
  width: 100px;
  height: 100px;
}

/* .scene{
perspective: 100px;
} */

.red-box {
  background: red;
  transform: translateX(140px)  ;
}

