.blue {
width: 100px;
height: 100px;
background-color: blue;
transition: transform 0.3s ease-out;
}

.blue:hover{
  transform: scale(1.2) rotate(10deg);

}

.trans {
transition: transform 0.4s ease-in-out
}

.trans:hover {
  transform: translateX(100px);
}

.card {
  width: 200px;
  height: 150px;
  background-color: aqua;
  transition: transform 0.25s ease;
}

.card:hover{
  transform: translateY(-20px) scale(1.05);
}

ul{
  display: flex;
  
}

li {
  margin: 10px;
  list-style-type: none;
  transition: transform 0.3s ease;
}

li:hover{
  transform: scaleX(1.5);
}