h1 {
    font-size: 2em;
    
    transform: translate(103px, 20px);
    
}

button {
    background-color: red;
     width: 200px;
     
     color: white;
  transition-property: background-color, transform;
  transition: 1s ease-in-out ;
}

button:hover {
  background-color: black;
 transform: scale(1.5);
  
}

