.blue {
width: 100px;
height: 100px;
background-color: blue;
transition: transform 0.3s ease-out;
}

.blue:hover{
  transform: scale(1.2) rotate(10deg);

}

.trans {
transition: transform 0.4s ease-in-out
}

.trans:hover {
  transform: translateX(100px);
}